Wandering2.xcodeproj/project.pbxproj
Wandering2.xcodeproj/project.xcworkspace/xcshareddata/Wandering2.xccheckout
Wandering2.xcodeproj/project.xcworkspace/xcuserdata/jandrewgormley.xcuserdatad/UserInterfaceState.xcuserstate
Wandering2.xcodeproj/xcuserdata/jandrewgormley.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
bin/Wandering2Debug.app/Contents/MacOS/Wandering2Debug
Wandering2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
bin/Wandering2.app/
